body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.form-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid gray;
  padding: 50px;
}
input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:invalid {
  border-color: red;
}
input:valid {
  border-color: green;
}
span {
  color: gray;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}
.btn {
  text-align: center;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  /* margin-top: 10px; */
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #0056b3;
}

.remember {
  height: 40px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  /* align-items: center; */
}

.remember input {
  width: auto;
}

.remember span {
  line-height: 40px;
}
